@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}
.loader__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
}
.header__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.header__wrapper__left {
  display: flex;
  align-items: center;
}
.header__logo__img {
  width: 55px;
  margin-right: 2em;
}
.header__menu {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgb(36, 36, 36, 0.5);
  padding: 0em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #242424;
}
.header__menu svg {
  width: 18px;
  height: 18px;
}
.header__menu:hover {
  transition: 300ms ease-in-out;
  background-color: transparent;
  color: #242424;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link {
  position: relative;
  padding: 1em 1.5em;
  font-size: 13px;
  color: #242424;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header__link:hover {
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 6px;
}
.header__link svg {
  margin-left: 1em;
  margin-top: 0.2em;
}
.header__link__dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  top: 40px;
  left: 0px;
  padding: 1em;
  width: fit-content;
  animation: growDown 400ms ease-in-out forwards;
  transform-origin: top center;
  z-index: 999;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.header__link__dropdown__content {
  border-radius: 10px;
  height: fit-content;
  max-height: 500px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.header__link__dropdown__entry {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  width: 200px;
}
.header__link__dropdown__entry:hover {
  transition: 300ms ease-in-out;
  background-color: #ebebeb;
}
.header__link__dropdown__entry__heading {
  font-size: 13px;
  color: #242424;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.header__link__dropdown__entry__info {
  font-size: 12px;
  color: #242424;
  font-weight: normal;
  text-transform: capitalize;
}
.header__link:hover .header__link__dropdown {
  display: flex;
}
.header__link__button {
  padding: 0.8em 2.5em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #242424;
  cursor: pointer;
  text-decoration: none;
}
.header__link__button svg {
  margin-left: 1em;
  margin-top: -0.1em;
}
.header__link__button__primary {
  background-color: #242424;
  color: rgb(255, 255, 255);
  margin: 0em 1em;
}
.header__link__button__primary:hover {
  transition: 300ms ease-in-out;
  background-color: #ebebeb;
}
.header__link__button__secondary {
  background-color: transparent;
  color: #242424;
}
.header__link__button__secondary:hover {
  transition: 300ms ease-in-out;
  background-color: #242424;
  color: rgb(255, 255, 255);
}
.header__wrapper__right {
  display: flex;
  align-items: center;
}
.header__wrapper__right__svg {
  width: 24px;
  height: 24px;
}
.header__wrapper__right__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px 1em;
}
.header__wrapper__right__entry span {
  font-size: 13px;
  color: #242424;
  font-weight: 600;
  margin-top: 0.5em;
}
.header__wrapper__right__input__wrapper {
  display: flex;
  align-items: center;
  margin-right: 2em;
  background: rgb(0, 0, 0, 0.05);
  padding: 0.7em 1em;
  border-radius: 6px;
  width: 300px;
  transition: 300ms ease-in-out;
}
.header__wrapper__right__input__wrapper:hover {
  background: rgb(0, 0, 0, 0.1);
  transition: 300ms ease-in-out;
}
.header__wrapper__right__input {
  width: 100%;
  padding: 0em 1em;
  background: transparent;
  outline: none;
  border: none;
}
.header__wrapper__right__input__wrapper svg {
  width: 18px;
  height: 18px;
  color: #242424;
}
/* The container */
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.container-checkbox .checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: 300ms ease-in-out;
}

/* On mouse-over, add a grey background color */
.container-checkbox:hover input ~ .checkmark {
  background-color: #ff3f6c;
  border: 1px solid #ff3f6c;
  transition: 300ms ease-in-out;
}

/* When the checkbox is checked, add a blue background */
.container-checkbox input:checked ~ .checkmark {
  background-color: #ff3f6c;
  transition: 300ms ease-in-out;
}

/* Create the checkmark/indicator (hidden when not checked) */
.container-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-checkbox input:checked ~ .checkmark:after {
  display: block;
}
.container-checkbox span {
  font-size: 12px;
  color: rgb(0, 0, 0, 0.7);
}
/* Style the checkmark/indicator */
.container-checkbox .checkmark:after {
  left: 7px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  border-radius: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* The container */
.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 15px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 1em;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.container-radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #ccc;
  border-radius: 50%;
  transition: 300ms ease-in-out;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ff3f6c;
  border-color: #ff3f6c;
  transition: 300ms ease-in-out;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #ff3f6c;
  border-color: #ff3f6c;
  transition: 300ms ease-in-out;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.container-radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
  top: 6px;
  left: 6px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: white;
}
.home__container {
  width: 100%;
  max-width: 1440px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px auto;
}
.home__container__heading {
  font-size: 16px;
  color: #000;
  display: flex;
  width: 100%;
}
.home__container__heading span {
  font-weight: 600;
  margin-right: 0.3em;
}
.home__container__content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 2em 0em;
}
.home__container__content__filter__wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-right: 1px solid rgb(0, 0, 0, 0.1);
  padding-right: 1em;
}
.home__container__content__right {
  width: 75%;
}
.container__filter__heading {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}
.container__filters__card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5em;
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  margin-top: 1em;
}
.container__filters__card__header__input {
  display: flex;
  align-items: center;
  margin-right: 2em;
  background: rgb(0, 0, 0, 0.05);
  padding: 0.7em 1em;
  border-radius: 6px;
  width: 300px;
  transition: 300ms ease-in-out;
  outline: none;
  border: none;
}
.container__filter__btn__close {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}
.container__filters__card:nth-child(3) {
  border-top: none;
}
.container__filters__card:nth-child(4) {
  border-top: none;
}
.container__filters__card:nth-child(5) {
  border-top: none;
}
.container__filters__card:nth-child(6) {
  border-top: none;
}
.container__filters__card:nth-child(7) {
  border-top: none;
}
.container__filters__card:nth-child(8) {
  border-top: none;
}
.container__filters__card:nth-child(9) {
  border-top: none;
}
.container__filters__card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}
.container__filters__card__header span {
  font-size: 15px;
  color: #000;
  font-weight: 600;
}
.container__filter__btn {
  background: transparent;
  border: none;
  cursor: pointer;
  background: rgb(0, 0, 0, 0.1);
  width: 35px;
  height: 35px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 300ms ease-in-out;
}
.container__filter__btn:hover {
  background: rgba(0, 0, 0, 0.2);
  transition: 300ms ease-in-out;
}
.container__filter__btn svg {
  width: 18px;
  height: 18px;
}
.container__filter__btn__close svg {
  width: 18px;
  height: 18px;
}
@media (max-width: 1200px) {
  .header__menu {
    display: flex;
  }
  .header__link__dropdown__entry {
    width: fit-content;
  }
  .header__nav {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .header__link__dropdown__content {
    max-height: fit-content;
  }

  .header__link {
    width: 100%;
    padding: 1em 0em;
    flex-direction: column;
  }
  .header__link__heading {
    width: 100%;
  }
  .header__link__dropdown {
    top: 20px;
    left: -30px;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
  }
  .header__link__dropdown__entry {
    width: fit-content;
    margin-left: 2em;
  }

  .header__link__button {
    margin-right: 0em;
    margin-left: 0em;
    margin-top: 1em;
    width: 50%;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .header__wrapper {
    padding: 1em;
  }
  .header__logo__img {
    margin-right: 1.3em;
  }
  .header__wrapper__right__entry {
    margin: 0px 0.5em;
  }
  .header__wrapper__right__entry span {
    display: none;
  }

  .header__wrapper__right__input__wrapper {
    display: none;
  }
}
