@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #fff;
  box-sizing: border-box;
}
.loader__wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
}
.header__wrapper {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.header__wrapper__left {
  display: flex;
  align-items: center;
}
.header__logo__img {
  width: 60px;
  margin-right: 2em;
}
.header__menu {
  display: none;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid rgb(36, 36, 36, 0.5);
  padding: 0em;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.header__menu svg {
  width: 18px;
  height: 18px;
}
.header__menu:hover {
  transition: 300ms ease-in-out;
  background-color: transparent;
  color: #242424;
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__link {
  position: relative;
  padding: 1em 1.5em;
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}
.header__link:hover {
  transition: 300ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.01);
  border-radius: 6px;
}
.header__link svg {
  margin-left: 1em;
  margin-top: 0.2em;
}
.header__link__dropdown {
  position: absolute;
  display: none;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  top: 45px;
  left: 0px;
  padding: 1em;
  width: fit-content;
}
.header__link__dropdown__content {
  border-radius: 10px;
  height: fit-content;
  max-height: 500px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.header__link__dropdown__entry {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: 0.5em;
  border-radius: 5px;
  width: 200px;
}
.header__link__dropdown__entry:hover {
  transition: 300ms ease-in-out;
  background-color: #ebebeb;
}
.header__link__dropdown__entry__heading {
  font-size: 13px;
  color: #242424;
  font-weight: 700;
  margin-bottom: 0.5em;
  letter-spacing: 1px;
}
.header__link__dropdown__entry__info {
  font-size: 12px;
  color: #242424;
  font-weight: normal;
  text-transform: capitalize;
}
.header__link:hover .header__link__dropdown {
  display: flex;
}
.header__link__button {
  padding: 0.8em 2.5em;
  display: flex;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #242424;
  cursor: pointer;
  text-decoration: none;
}
.header__link__button svg {
  margin-left: 1em;
  margin-top: -0.1em;
}
.header__link__button__primary {
  background-color: #242424;
  color: rgb(255, 255, 255);
  margin: 0em 1em;
}
.header__link__button__primary:hover {
  transition: 300ms ease-in-out;
  background-color: #ebebeb;
}
.header__link__button__secondary {
  background-color: transparent;
  color: #242424;
}
.header__link__button__secondary:hover {
  transition: 300ms ease-in-out;
  background-color: #242424;
  color: rgb(255, 255, 255);
}
.header__wrapper__right {
  display: flex;
  align-items: center;
}
.header__wrapper__right__svg {
  width: 24px;
  height: 24px;
}
.header__wrapper__right__entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0px 1em;
}
.header__wrapper__right__entry span {
  font-size: 13px;
  color: #000;
  font-weight: 600;
  margin-top: 0.5em;
}
.header__wrapper__right__input__wrapper {
  display: flex;
  align-items: center;
  margin-right: 2em;
  background: rgb(0, 0, 0, 0.05);
  padding: 0.7em 1em;
  border-radius: 6px;
  width: 300px;
  transition: 300ms ease-in-out;
}
.header__wrapper__right__input__wrapper:hover {
  background: rgb(0, 0, 0, 0.1);
  transition: 300ms ease-in-out;
}
.header__wrapper__right__input {
  width: 100%;
  padding: 0em 1em;
  background: transparent;
  outline: none;
  border: none;
}
.header__wrapper__right__input__wrapper svg {
  width: 18px;
  height: 18px;
}
@media (max-width: 1200px) {
  .header__menu {
    display: flex;
  }
  .header__link__dropdown__entry {
    width: fit-content;
  }
  .header__nav {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: #fff;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  }
  .header__link__dropdown__content {
    max-height: fit-content;
  }

  .header__link {
    width: 100%;
    padding: 1em 0em;
    flex-direction: column;
  }
  .header__link__heading {
    width: 100%;
  }
  .header__link__dropdown {
    top: 20px;
    left: -30px;
    flex-direction: row;
    z-index: 100;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
  }
  .header__link__dropdown__entry {
    width: fit-content;
    margin-left: 2em;
  }

  .header__link__button {
    margin-right: 0em;
    margin-left: 0em;
    margin-top: 1em;
    width: 50%;
    justify-content: center;
  }
}
@media (max-width: 700px) {
  .header__wrapper {
    padding: 1em;
  }
  .header__logo__img {
    margin-right: 1.3em;
  }
  .header__wrapper__right__entry {
    margin: 0px 0.5em;
  }
  .header__wrapper__right__entry span {
    display: none;
  }

  .header__wrapper__right__input__wrapper {
    display: none;
  }
}
